# emacs
.config/emacs/config.el
.config/emacs/elpa/
.config/emacs/history
.config/emacs/places
.config/emacs/recentf
.config/emacs/transient/
.config/emacs/.init.el.~undo-tree~
.config/emacs/.config.org.~undo-tree~
.config/emacs/.early-init.el.~undo-tree~

# neovim
.config/nvim/plugin/packer_compiled.lua

# pywal
.cache/wal/colors*
.cache/wal/sequences
.cache/wal/wal

# zsh
.config/zsh/.zcompdump
.config/zsh/plugins

# ncmpcpp
.config/ncmpcpp/error.log
